
body{
  margin: 0; /* pour éviter les marges */
  text-align: center; /* pour corriger le bug de centrage IE */
}

#page{

  background-color: #1abc9c;
  background-attachment:fixed;
  width: 100%;
  margin-left: 74px;
  margin-right: 50px;
  width: 1375px;


  padding: 20px;
  margin-top: 30px;
  height: 1500px;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
}

li {
 float: left;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
div {
  padding: 20px;
  margin-top: 30px;
  background-color: #1abc9c;
  height: 1500px;

}
